@import "../../Color.scss";



.cart-list-container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 20px;

}

.cart {
    min-height: 600px;
    margin: 70px 0;
}

.empty-cart-content {
    margin-top: 50px;
}

.empty-cart-text {
    padding: 20px 30px;
    color: $violeta2;
    text-align: center;

    
}

.empty-cart-button {
    display: flex;
    justify-content: center;
    margin: 30px 0;
   
    align-items: 25px;
    button {
        border: none;
        background-color: $violeta;
        color: #ffffff;
        padding: 5px 25px;
        height: 2.5rem;
        border-radius: 10px;
        font-size: 1rem;
        cursor: pointer;
        text-transform: uppercase;

    }
}

.row-cart-head {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #999999;

}

.row-cart-list {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
}

.items-head {
    padding: 25px 0;
    font-weight: bold;

    
}

.items-head, .items-cart  {
display: flex;
flex-direction: row;
width: 100%;


    .producto {
        width: 150px;
    }

.item-image {
    width: 150px;
    margin: 15px;
    img {
        width: 120px;
    }
}

  
}

.item-description {
    margin: 0 20px;
    width: 350px;

}

.item-description:first-child {
    margin-left: 0;

}

.remove-from-cart {
    border: none;
    background-color: transparent;
    color: $violeta;
    font-weight: bold;
}




