@import "../../Color.scss";



.cart-list-container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 20px;

}

.cart {
    min-height: 600px;
    margin: 70px 0;
}

.empty-cart-content {
    margin-top: 50px;
}

.empty-cart-text {
    padding: 20px 30px;
    color: $violeta2;
    text-align: center;

    
}

.empty-cart-button {
    display: flex;
    justify-content: center;
    margin: 30px 0;
   
    align-items: 25px;
    button {
        border: none;
        background-color: $violeta;
        color: #ffffff;
        padding: 5px 25px;
        height: 2.5rem;
        border-radius: 10px;
        font-size: 1rem;
        cursor: pointer;
        text-transform: uppercase;

    }
}

.row-cart-list {
    display: flex;
    flex-wrap: wrap;
}

.items-head {
    padding: 25px 0;
    font-weight: bold;

    
}

.items-head, .items-cart  {
display: flex;
flex-direction: row;
width: 100%;

    img {
    
        width: 200px;
        object-fit: cover;
   
    }

.item-image {
    width: 200px;

    img {
        width: 200px;
    }
}

  
}

.item-description {
    margin: 0 20px;
    width: 400px;

}

.item-description:first-child {
    margin-left: 0;

}

.remove-from-cart {
    border: none;
    background-color: transparent;
    color: $violeta;
}

.form {
   
}

.button-finish-container {
    display: inline-flex;
    margin: 40px 0;

    button {
        border: none;
        padding: 10px 40px;
        background-color: $violeta;
        color: #ffffff;
    }
}