@import "../../Color.scss";


.cart-form-container {
    margin: 0 auto;
    background-color: $blanco;
    padding: 20px;
}

.cart-total {
    padding: 20px 0;
    margin-bottom: 20px;
        h5 {
            font-weight: bold;
            color: $naranja2;
        }

}

.text-cart-form {
   
    p {
        font-weight: bold;
    }
}

.form {
   margin-bottom: 20px;
   padding: 20px;
   box-shadow: 0 6px 10px 0 rgba(207,203,203, 0.5);
   background-color: $blanco;
}

label {
    margin-bottom: 2px;
}

input {
   padding: 5px;
   border: 1px solid #a4a4a4;
   margin-bottom:20px;
   &:last-child {
       margin-bottom: 10px;
   }
}

.button-finish-container {
    display: inline-flex;
    margin: 40px 0;

    button {
        border: none;
        padding: 10px 40px;
        background-color: $violeta;
        color: #ffffff;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        font-size: 14px;
        letter-spacing: 1px;
        &:hover {
            transition: 0.5s;
            background-color: $naranja2;
        }
        &:disabled {
            opacity: 0.5;
            cursor: default;
            &:hover {
                background-color: $violeta;
                
            }
        }  

    }
}

