@import "../../Color.scss";



nav {
  text-transform: uppercase;
 
}

.brand {
  img {
    width: 120px;
  }
}

.navbar-container {
    padding: 20px 50px;
    margin: auto;
    background-color: $violeta2;
  
  }
  /**/
  .navbar-i {
   
    margin: 0 auto;
    color: $violeta;
    
  }
  
  .menu {
    margin: 0 auto;
  }
  
  .cart-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  nav ul {
    display: flex;
    list-style: none;
    padding: 0;
  }
  
  .nav-item {
    margin: 0 30px;
  }
  
  
  .navlink {
    color: #ffffff;
    text-decoration: none;
  
    }
    .navlink:hover {
      color: $naranja;
      text-decoration: none;
    }
  
    .nav-active {
      color: $naranja;
      text-decoration: none;
      font-weight: bold;
    }

    
    .custom-toggler .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
      border: none;
    }
    
    .navbar-toggler {
      border: none;
    }

    .secondary-menu {
     
      a:hover{
          text-decoration: none;
        }
      

      ul {
       
          img {
            width: 30px;
            
          }
        
          li:first-child {
            margin-right: 20px;
          }
        
        }
     }


    // Medium devices (tablets, less than 992px)
     @media (max-width: 991.98px) {
       .nav-item {
         margin: 0 10px;
       }
     }

  
    // Small devices (landscape phones, less than 768px)
    @media (max-width: 767.98px) { 
      .brand {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 20px 0;
      }

      .nav-item {
    margin: 10px 0;
      }
    .nav-item:first-child {
    margin-top: 30px;
    } 

    .secondary-menu {
      margin-top: 20px;
      }
    } 