/*Navbar*/

.navbar-container {
  padding: 0 50px;
  margin: auto;
  background-color: #ffffff;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
}

.navbar {
  display: flex;
  margin: 0 10px;
  align-items: center;
  color: #5e35b1;
  padding: 15px 0;
}

.menu {
  margin: 0 auto;
}

.cart-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart img {
  width: 30px;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
}

.nav-item {
  margin: 0 30px;
}

nav a {
  color: #5e35b1;
  text-decoration: none;
}

/**/
.container-products {
  display: flex;
  justify-content: center;
}

.title-home {
  font-size: 1.5em;
}
