@import "Color.scss";


/*Navbar*/

.navbar-container {
  padding: 0 50px;
  margin: auto;
  background-color: #ffffff;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
}

.navbar {
  display: flex;
  margin: 0 10px;
  align-items: center;
  color: $violeta;
  padding: 15px 0;

  
}

.menu {
  margin: 0 auto;
}

.cart-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart img {
  width: 30px;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
}

.nav-item {
  margin: 0 30px;
}
nav a {
  color: $violeta;
  text-decoration: none;
 
}

nav a:hover {
  color: $naranja;
  text-decoration: none;
}

/*
.nav-link {
  color: $violeta;
  text-decoration: none;

  }


  .nav-active {
    color: $naranja;
    text-decoration: none;
  }
*/




/*Home*/
.banner {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: left;
  color: #ffffff;
  background-image: url("./images/banner.jpg");
  background-size: cover;
  background-color: #9e94e8;
}

.banner-content {
  justify-content: center;
  width: 40%;
  padding: 70px;
  h1 {
    font-weight: bold;
  }
}



/**/
.container-products {
  display: flex;
  justify-content: center;
  margin: 50px 0;
 
}

.products-row {
  display: flex;
  justify-content: space-around;
  margin: 30px 0;
}

.title-home {
  font-size: 1.5em;
}

.product {
  margin: 30px 0;
  padding: 40px;
  width: 100%;
  display: flex;
  
  

  img {
    width: 80%;
  }
  
}

.button-finish {
  border: 1px solid #333333;
  padding: 5px 25px;
   height: 2.5rem;
   border-radius: 10px;
   font-size: 1rem;
   cursor: pointer;
   background-color: transparent;
}



.title-itemlist {
  display: flex;
  justify-content: center;
  margin: 30px auto;
  text-align: center;
}

.product-detail {
  padding-top: 20px;
  
  h4 {
    padding-bottom: 30px;;
  }
}


.container-addItems {

 display: inline-flex;
 justify-content: center;
 
 
}

.counter {
  width: 100px;
  display: flex;
  border: 1px solid $violeta;
  margin: auto;
  color:  $violeta;
  height: 2.5rem;
  align-items: center;
  border-radius: 10px;
  margin-right: 20px;
  button {
    border: none;
    margin: 0 auto;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.25rem;
    color:  $violeta;
  }

  h5 {
    margin: 0;
  }
}

.addToCart {
  display: flex;
  
 button {
   border: none;
   background-color: $violeta;
   color: #ffffff;
   padding: 5px 25px;
   height: 2.5rem;
   border-radius: 10px;
   font-size: 1rem;
   cursor: pointer;
   text-transform: uppercase;

 }
}


/* product list */
 .product-card {
   display: flex;
   flex-direction: column;
   padding: 20px 25px;
  // width: 30%;
   margin: 10px;
   box-shadow: 0 6px 10px 0 rgba(207,203,203, 0.5);

 }

 .card-content {
    flex: 1 1 auto;
    text-align: center;

    img {
      width: 100%;
    }

    h5 {
      color: $violeta;
    }

    button {
      border: 1px solid $violeta;
      margin: 10px 0;
      background-color: transparent;
      color: $violeta;
      padding: 10px 25px;
      border-radius: 10px;
    }
   .name-card {
    color: #666666;
  }

  
 }

 /* footer */
 .footer {
   background-color: #333333;
   color: #ffffff;
   display: flex;
   align-items: center;
   height: 200px;
 }


// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { 
  .banner-content {
    width: 80%;

  }

 }


 // Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { 
  .banner {
    display: flex;
    align-items: flex-start;
    color: #ffffff;
    background-image: url("./images/banner-mobile.jpg");
    background-size: cover;
    
  }

  .banner-content {
    width: 100%;
    h1 {
      
    }

  }


}